<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qumeric.elections">

    <!-- allowBackup is temporary disabled to suppress warning -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name=".NewGameActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChooseCandidateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".ChangeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".PollActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".CatcherGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".DucksGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".HammerGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".LadderGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".SnakeGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".RunnerGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".SpendMoneyActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>