<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocks.che.elections">

    <!-- allowBackup is temporary disabled to suppress warning -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GameTheme"
        >

        <activity
            android:name="rocks.che.elections.NewGameActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="rocks.che.elections.ChooseCandidateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="rocks.che.elections.GameActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="rocks.che.elections.QuestionActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="rocks.che.elections.ChangeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.PollActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name="rocks.che.elections.minigames.CatcherGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.minigames.DucksGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.minigames.HammerGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.minigames.LadderGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.minigames.SnakeGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.minigames.RunnerGameActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="rocks.che.elections.SpendMoneyActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>